#bglogo{
  font-size: 300px;
  text-align: center;
  display: block;
  margin-top: 54px;
  color: #ccc;
  display: none;
}

header .button .icon-star, header .button.icon-search{
  font-size: 18px;
}

#favetoggle.off{
  border-left-width: 1px;
  border-right-width: 25px;
}
#favetoggle.on{
  border-right-width: 1px;
  border-left-width: 25px;
}

#favetoggle.on .icon-star:before  { content: "\f005"; }
#favetoggle.off .icon-star:before { content: "\f006"; }

#notice{
  width: 100%;
  margin: 0;
  display: none;
  min-height: 50px;
  background: #445;
  color: #fff;
  padding: 10px 10px;
  line-height: 20px;
}
#notice #dismiss{
  position: absolute;
  right: 34px;
  top: 12px;
  color: #fff;
  font-size: 26px;
  font-weight: normal;
}
#notice .login-btn{
  vertical-align: middle;
}
#notice-msg{
  padding-right: 50px;
}

nav.search{
  position: absolute;
  z-index: 100000;
  top: 44px;
  right: 0px;
  background: #445;
  width: 100%;
  height: 50px;
  display: none;
  padding: 0 10px;
  box-sizing: border-box;
}
#search{
  width: 100%;
  margin: 0;
  display: block;
  margin-top: 6px;
}

#search-clear{
  position: absolute;
  right: 0;
  top: 0;
  line-height: 48px;
  font-size: 26px;
  padding: 0 19px;
  color: #888;
}

.content.searching{
  padding-top: 50px;
}
.list li{
  padding-right: 100px;
}
.list li > a:not([class*="button"]) {
  margin-right: -100px;
}
.show{
  border-left-width: 10px;
  border-left-style: solid;
}
.show a{
  font-size: 110%;
}
.show .listfave{
  display: none;
}
.show.faved .listfave{
  display: inline-block;
  position: absolute;
  right:  70px;
  top: 20px;
  font-size: 20px;
  color: #FFC700;
  text-shadow: 1px 1px #E3B307;
}
.v1{
  border-left-color: #90CA77; 
}
.v2{
  border-left-color: #81C6DD; 
}
.v3{
  border-left-color: #E9B64D; 
}
.v4{
  border-left-color: #C23E06; 
}
.v5{
  border-left-color: #9E3B33; 
}
.v6{
  border-left-color: #CF65DB; 
}
.v7{
  border-left-color: #6B7FF2; 
}
.v8{
  border-left-color: #E3F073; 
}
.v9{
  border-left-color: #BA7D3F; 
}
.v10{
  border-left-color: #FF87CF; 
}
.v11{
  border-left-color: #77E6CF; 
}
.v12{
  border-left-color: #F07380; 
}
.v13{
  border-left-color: #E48743; 
}
.v14{
  border-left-color: #f60;
}

.expanded .chevron:before{
  top: 9px;
  right: -1px;
  -webkit-transform: rotate(135deg)
}

.expanded .chevron:after{
  top: 5px;
  right: 5px;
  -webkit-transform: rotate(-135deg);

}

.detail{
border: 1px solid #ccc;
padding: 10px;
margin: 10px -90px 0 0;
border-radius: 3px;
}
.venue .info {
  color: #888;
}
.showinfo .hashtag{
  margin-left: 30px;
}
.showctl{
  text-align: center;
  margin: 5px 0;
}
.showctl [class*="button"]{
  position: relative;
  font-size: 110%;
  width: 25%;
  margin: 0 5px;
  padding: 6px 2px;
}
.showctl .fave{
  display: inline-block;
}
.faved .showctl .fave{
background-color: #FFC700;
background-image: -webkit-linear-gradient(top, #FFC700 0, #D7A803 100%);
background-image: linear-gradient(to bottom, #FFC700 0, #D7A803 100%);
border: 1px solid #E3B307;
color: #fff;
text-shadow: 1px 1px #888;
}
.showctl .button-positive{
background-color: #ED6527;
background-image: -webkit-linear-gradient(top, #ED6527 0, #C04C17 100%);
background-image: linear-gradient(to bottom, #ED6527 0, #C04C17 100%);
border: 1px solid #CC521A;
color: #fff;
}

.detail .faves {
  margin: 5px 0;
}
.detail .faves a:after{
  content: ',';
}
.detail .faves a:last-child:after{
  content: '';
}
.detail .faves a:first-child:before{
  font-family: ;
  content: "\f005";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  padding-right: 5px;
}
.faves .user{
  color: #334;
}
.comments{
  list-style: none;
}
.comments li{
  border: 0;
  padding: 3px 0 5px;
}
.comments .user, .comments .hashtag{
  font-weight: bold;
  color: #109adc;
}

#signup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
}
#signup .modal{
  position: relative;
  z-index: 100001;
  background-color: #fff;
  border: 3px solid #888;
  box-shadow: 0 0 40px #333;
  border-radius: 2px;
  width: 95%;
  margin: 50px auto;
  padding: 10px;
}
#signup form{
  max-width: 300px;
  display: block;
  margin: 10px auto;
}
#signup .button-main{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
#continuationMsg{
  text-align: center;
}
#signup label span{
  font-size: 80%;
  color: #999;
}

#signup h2{
  margin-bottom: 10px;
}
#signup p{
  margin: 10px 0;
}

#signup-cancel{
  color: #888;
  text-align: center;
  display: block;
  max-width: 300px;
  margin: 45px auto 20px;
  text-decoration: underline;
}

#about{
  display: none;
  left: 49%;
  top: 65px;
  opacity:1;
  color: #fff;
  padding: 20px;
  font-size: 16px;
}
#about a{
  color: #1eb0e9;
}
#about p{
  margin-bottom: 10px;
}
#about .icon-remove{
  display: block;
  text-align: right;
  margin-top: -10px;
}
#about .icon-flag{
  text-align: center;
  display: block;
  font-size: 80px;
  margin-bottom: 15px;
}
.list-divider.day{
  color: #fff;
  background-color: #1eb0e9;
  background-image: -webkit-linear-gradient(top, #1eb0e9 0, #109adc 100%);
  background-image: linear-gradient(to bottom, #1eb0e9 0, #109adc 100%);
}

